.App {
  text-align: center;
  color: #000;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg-red {
  background-color: red;
  color: #fff;
}
.main {
  min-height: 85vh;
  display: inline-block;
}
.form-block {
  background-color: aliceblue;
  margin: 20px;
  justify-content: center;
  border: 2px solid #6b7791;
  width: 80%;
  border-radius: 10px;
  display: inherit;
}
.form-block input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: larger;
}
.form-data-action {
  display: flex;
  background-color: rgb(26, 86, 252);
  border-radius: 0 0 10px 10px;
  padding: 0 20px 0 20px;
}
.form-data-action button {
  padding: 10px;
  display: flex;
  width: -webkit-fill-available;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(26, 86, 252);
  color: #000;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.form-data-action button:hover {
  background-color: red;
}
.data-block {
  background-color: aliceblue;
  margin: 20px;
  justify-content: center;
  border: 2px solid #6b7791;
  width: 300px;
  border-radius: 10px;
  display: inline-block;
}
.data-row {
  padding: 10px;
  border-bottom: 1px solid #6b7791;
  text-align: left;
  display: flex;
}
.data-row label {
  width: 60px;
  font-weight: bold;
}
.data-action {
  display: flex;
  background-color: #61dafb;
  border-radius: 0 0 10px 10px;
  padding: 0 20px 0 20px;
}
.data-action button {
  padding: 10px;
  display: flex;
  width: -webkit-fill-available;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #61dafb;
  color: #000;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.data-action button:hover {
  background-color: #13afda;
}
.footer {
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
